<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>{{ title }}</title>
 
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<meta name="Description" content="A non-for profit dedicated to blah, blah, blah" />
<link rel="stylesheet" type="text/css" href="/media/default.css" />

</head>

<body>
<p>Schoolhouse Prouctions - Home</p>
<p>Username</p>
<p>Home<
</body>

</html>